@charset "uft-8";

header {
    border: none;
}

div.article {
    margin: 2em auto;
    margin-top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


div.article > div {
    margin: 1em auto;
    width: 80%;
}


legend {
    margin-bottom: 1em;
    font-size: 2rem;
    line-height: 1em;
    color: rgb(0, 112, 224);
}

/*2.4.2 - a - Login page*/
div.article form {
    margin: 3em 0em;
    font-weight: normal;
    max-width: 1000px;
}

div.article form fieldset {
    border: 1px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

div.article form label {
    display: block;
    clear: both;
    color: rgb(0, 112, 224);
    font-size: 1rem;
}

/*2.4.2 - b - Login page*/
div.article form input, div.article form textarea {
    width: 100%;
    padding: 1em;
    margin-bottom: 3em;
    border: 1px solid lightgray;
    font-size: 1rem;
}

/*2.4.2 - c - Login page*/
input:focus:valid {
    background: rgb(240, 255, 243) url("../home/valid.png") bottom right/contain no-repeat;
    background-origin: padding-box;
}

input:focus:invalid {
    background: rgb(255, 243, 240) url("../home/invalid.png") bottom right/contain no-repeat;
    background-origin: padding-box;
}

div.article form input[type=submit], div.article form input[type=submit]:focus:valid, div.article form input[type=submit]:focus:invalid {
    display: inline-block;
    padding: 0.8em 1.5em;
    width: auto;
    background: none;
    background-color: rgb(235, 106, 0);
    color: white;
}

div.article form input[type=submit]:hover {
    background-color: rgb(255, 123, 0);
    cursor: pointer;
}

.message {
    color: red;
}

@media only screen and (max-width: 768px) {
    div.article {
        display: block;
    }

    div.article form {
        margin-bottom: 1em;
    }
}
