@charset "utf-8";

header {
    border: none;
}

.trickList {
    margin: 3em auto;
    width: 80%;
    display: flex;          /*2.4.2 - h - Products page: layout for all the tricks*/
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: white;
}

article {
    margin: 1em auto;
}


#heading > img {
    width: 100%;
}


/*  =====================
    Mobile Styles: 0px to 481px.
    =====================
*/
@media only screen and (min-width: 481px) {
    .trickList .trick {
        width: 100%;
    }
}

/*  =====================
    Tablet Styles: 481px to 768px
    =====================
*/
@media only screen and (min-width: 481px) {
    .trickList .trick {
        width: 90%;
    }
}


/*  =====================
    Desktop styles: greater than 768px.
    =====================
*/
@media only screen and (min-width: 769px) {
    .trickList .trick {
        width: 45%;
    }
}


/*Desktop styles but with bigger width: greater than 1030px*/
@media only screen and (min-width: 1030px) {
    .trickList .trick {
        width: 30%;
    }

    .trickList {
        width: 90%;
    }
}
